<!--Modal-->
<div th:fragment="lembur-detail">
    <!-- Modal -->
    <div class="modal fade" id="OvertimeDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Overtime Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="font-weight-bold">
                                <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
                                    <span th:text="${#dates.format(sdf.parse(report.submitDate), 'dd MMMM yyyy')}"></span>
                                </th:block>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="font-weight-bold">NIK - <span th:text="${report.employee.nik}" class="font-weight-bold"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <span th:text="${report.startTime}"></span> - <span th:text="${report.endTime}"></span>
                            </div>

                        </div>
                        <div class="col-md-6 text-right">
                            <div th:text="${report.employee.name}" class="font-weight-bold"></div>
                        </div>
                    </div>
                    <div class="font-weight-bold">Department - <span th:text="${report.employee.department.department}" class="font-weight-bold"></span></div>
                    <label for="deskripsi" class="mt-5">Description</label><br>
                    <textarea class="form-control" id="deskripsi" rows="10" cols="30" style="width: 100%" th:text="${report.description}"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
