<!--Modal-->
<div th:fragment="lembur-form">
    <!-- Modal -->
    <div class="modal fade" id="OvertimeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Overtime Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <form th:object="${form}" th:action="@{/createreport}" method="POST">
                        <div class="row text-left">
                            <div class="col-md-4">
                                <label for="submitDate">Date</label><br>
                                <input class="form-control" style="width: 100%" type="date" id="submitDate" th:value="${{date}}" name="submitDate"> 
                            </div>
                            <div class="col-md-4">
                                <label for="startTime">Start Time</label><br>
                                <input class="timepicker form-control" style="width: 100%" type="text" name="tempStartTime" id="startTime" min="18:00" max="22:00" required>
                            </div>
                            <div class="col-md-4">
                                <label for="endTime">End Time</label><br>
                                <input class="timepicker form-control" style="width: 100%" type="text" id="endTime"  name="tempEndTime" min="20:00" max="23:59" required>
                            </div>
                            <input style="width: 100%" type="hidden" th:value="${employee.id}" name="employee">
                            <input style="width: 100%" type="hidden" th:value="${department}" name="department">
                        </div>
                        <div class="row text-left mt-3">
                            <div class="col">
                                <label for="description">Description</label><br>
                                <textarea class="form-control" style="width: 100%" id="description" th:field="*{description}" rows="10" cols="30"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-success btn-block btn-user" type="submit" id="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
