<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Overtime Detail</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
        body{
                
                padding: 50px;
                text-align: center;
            }
            td{
                padding: 5px;
                align-items: center;
                
            }
                
    </style>
    <body>
    <center>
        <div class="a"><h3><b>Overtime Detail</b></h3></div><br>
    </center>

    <div class="a">
            <center>
                <from action="" method="POST">
                    <table>
                        <tr>
                            <td><h6>19 November 2020</h6></td>
                            <td style="text-align: right"><h6>NIK - 12345 </h6></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ><h6>18.00 - 21.00</h6></td>
                            <td style="text-align: right"><h6>Ardian Pramudya Alphita</h6></td>
                            
                        </tr>
                        <tr>
                            <td><label for="deskripsi">Deskripsi</label></td>
                                <td style="text-align: right"><h6>Divisi IT</h6></td>
                        </tr>
                        <tr>
                                <td><textarea style="resize:none;width:500px;height:150px;" class="form-control" name="deskripsi" id="deskripsi"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left"><input class="btn btn-success" type="submit" value="Submit"></td>
                        </tr>
                    </table>
                 </from>
            </center>
        </div>
    </body>
</html>
