<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kebijakan</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>


        .ml-30{
            margin-left:30px;
        }
        .br-15{
            border-radius: 15px;
        }
        td{
            padding: 10px;
        }            
    </style>
    <!-- Navbar -->
    <body style="background-color:#b0d9ff">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/home}">
                <img th:src="@{/images/calendar.png}" width="30" height="30" />
                <b>KapitaApp</b>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}"
                           >Home <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee}">Karyawan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/policy}">Kebijakan</a>
                    </li>
                </ul>
                <a th:href="@{/logout}" class="text-danger">Logout</a>
            </div>
        </nav>
        <!-- Navbar -->

    <center>
        <div class="row">
            <div class="container pt-4 mt-5">
                <div class="col-7 shadow pt-3 pb-5 br-15 mt-4 mb-5 pr-5 p-5" style="background-color: white">
                    <div>
                        <div style='text-align: center'>
                            <font class='h2'> <strong> Simpan / Ubah Karyawan </strong> </font>
                        </div>
                    </div>
                    <hr>
                    <form action="" method="POST">
                        <div class="pr-4">
                            <table>
                                <tr>
                                    <td>NIK</td>
                                    <td><input type="text" class="form-control" name="NIK"></td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td><input type="text" class="form-control" name="nama"></td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td><input type="text" class="form-control" name="role"></td>
                                </tr>
                                <tr>
                                    <td>Divisi</td>
                                    <td><input type="text" class="form-control" name="divisi"></td>
                                </tr>
                                <tr>
                                    <td>Telepon</td>
                                    <td><input type="text" class="form-control" name="telepon"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="text" class="form-control" name="email"></td>
                                </tr>
                                <tr>
                                    <td>Alamat</td>
                                    <td><input type="text" class="form-control" name="role"></td>
                                </tr>
                            </table>
                            <input type="submit" name="save" value="Update" class="btn btn-primary" style="margin-left:44%; ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </center>
</body>
</html>

