<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riwayat</title>
    <link rel="stylesheet" type="text/css" href="css_table.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="img/calendar.png" width="30" height="30" />
        <b>KapitaApp</b>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Riwayat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Divisi</a>
          </li>
		</ul>
		<a href="#" class="text-danger">Logout</a>
      </div>
    </nav>
    <!-- Navbar -->
    <br /><br />
	<div class="table" border="1">
		<h1>Report History</h1><br>
		<table class="actualTable">
			<tr>
				<th>No</th>
				<th>Status Persetujuan</th>
				<th>Tanggal</th>
				<th>Manager Note</th>
				<th></th>
			</tr>
			<tr>
				<tr th:each="as : ${history}">
					<td></td>
					<td th:text="${as.status}"></td>
					<td th:text="${as.tanggal}"></td>
					<td th:text="${as.manager_note}"></td>
					<td>
						<img src="img/info.png">
					</td>
				</tr>
			</tr>
		</table>
	</div>
</body>
</html>
