<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Divisi</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/css_table.css}" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
            />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <style>
            body{
                background-color: #b0d9ff;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/calendar.png}" width="30" height="30" />
                <b>KapitaApp</b>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}"
                           >Home <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/personal}">Riwayat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/department}">Divisi</a>
                    </li>
                </ul>
                <a th:href="@{/logout}" class="text-danger">Logout</a>
            </div>
        </nav>
        <!-- Navbar -->
        <br /><br />
        <div class="table p-5">
            <h1>Report History</h1>
            <br />
            <table class="table table-striped" id="tb">
                <thead>
                    <tr>
                        <th>NIK</th>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Note</th>
                        <th>Jumlah Jam</th>
                        <th>Status Persetujuan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="as : ${history}">
                        <td th:text="${as.employee.nik}"></td>
                        <td th:text="${as.employee.name}"></td>
                        <td th:text="${as.submitDate}"></td>
                        <td th:text="${as.managerNotes}"></td>
                        <td th:text="${as.totalTime}"></td>
                        <td>
                            <img th:src="@{/images/cross.png}" height="24"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img th:src="@{/images/check.png}" height="24"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--JS-->
        <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
        <script src="js/custom.js"></script>
        <script>
            $(document).ready(function () {
                $('#tb').DataTable();
            });
        </script>
    </body>
</html>
