<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Divisi</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/css_table.css}" />
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
            />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body{
                background-color: #b0d9ff;
            }
        </style>
    </head>
    <body>
        <div th:insert="../fragment/navbarmanager::navbarmanager"></div>

        <div th:insert="../fragment/formmanager::overtime-manager"></div>

        <div class="container mt-3">
            <div class="table">
                <h1>Report History</h1>
                <br />
                <table class="table table-striped" id="tb">
                    <thead>
                        <tr>
                            <th>NIK</th>
                            <th>Nama</th>
                            <th>Tanggal</th>
                            <th>Note</th>
                            <th>Jumlah Jam</th>
                            <th>Status Persetujuan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="as : ${history}">
                            <td th:text="${as.employee.nik}"></td>
                            <td th:text="${as.employee.name}"></td>
                            <td th:text="${as.submitDate}"></td>
                            <td th:text="${as.managerNotes}"></td>
                            <td th:text="${as.totalTime}"></td>
                            <td class="text-center d-flex justify-content-between align-items-center">
                                <a th:if="${as.status == 'Reject'}" th:href="@{/confirmReport/} + ${as.id} + '/' + 'Reject'"><img th:src="@{/images/cross.png}" height="24"/></a>
                                <a th:if="${as.status == 'Approve'}" th:href="@{/confirmReport/} + ${as.id} + '/' + 'Approve'"><img th:src="@{/images/check.png}" height="24"/></a>
                                <div th:if="${as.status == 'Pending'}">
                                    <a th:href="@{/confirmReport/} + ${as.id} + '/' + 'Reject'"><img th:src="@{/images/cross.png}" height="24"/></a>
                                    <a th:href="@{/confirmReport/} + ${as.id} + '/' + 'Approve'"><img th:src="@{/images/check.png}" height="24"/></a>
                                </div>
                                <a th:href="@{/department/} + ${as.id}" type="button" class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--JS-->
        <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@10}"></script>
        <script th:src="@{/js/custom.js}"></script>
        <script>
            $(document).ready(function () {
                $('#tb').DataTable();
                $('#OvertimeManager').modal('show');
            });
        </script>
    </body>
</html>
