<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Update Karyawan</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
        body{
                
                padding: 50px;
                text-align: center;
            }
            td{
                padding: 10px;
                align-items: center;
            }
                
    </style>
    <body>
    <center>
        <div class="a"><h3><b>Simpan / Ubah Karyawan</b></h3></div><br>
    </center>

    <div class="a">
            <center>
                <from action="" method="POST">
                    <table>
                        <tr>
                            <td>NIK</td>
                            <td><input type="text" class="form-control" name="NIK"></td>
                        </tr>
                        <tr>
                            <td>Nama</td>
                            <td><input type="text" class="form-control" name="Nama"></td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td><input type="text" class="form-control" name="Role"></td>
                        </tr>
                        <tr>
                            <td>Divisi</td>
                            <td><input type="text" class="form-control" name="Divisi"></td>
                        </tr>
                        <tr>
                            <td>Telepon</td>
                            <td><input type="text" class="form-control" name="Telepon"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="text" class="form-control" name="Email"></td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td><input type="text" class="form-control" name="Alamat"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right"><input class="btn btn-primary" type="submit" value="Update"></td>
                        </tr>
                    </table>
                 </from>
            </center>
        </div>
    </body>
</html>
